body {
    width: 100%;
    margin: auto;
    text-align: center
}

.themeDropDown {
    float: right;
    width: 20%;
}

.fieldSet {
    margin: auto;
    width: 50%;
    text-align: left;
}

.btn {
    margin-left: 132px;
}

.margin {
    margin-bottom: 4px;
}
