body {
    background-color: orange;
    width: 100%;
    margin: auto;
    text-align: center;
}

.btn {
    background-color: orangered;
}

#lblHeading {
    float: initial;
    font-size: larger;
    color: black;
    background-color: red;
    text-align: center;
}

.margin {
    margin-bottom: 4px;
}
